[submodule "programacion-cientifica-hpc/programacion-cientifica-hpc/Act.-Grupal---Polinomios-de-Chebyshev"]
	path = programacion-cientifica-hpc/programacion-cientifica-hpc/Act.-Grupal---Polinomios-de-Chebyshev
	url = https://github.com/pablesite/Act.-Grupal---Polinomios-de-Chebyshev.git
[submodule "programacion-cientifica-hpc/Act.-Grupal---Polinomios-de-Chebyshev"]
	path = programacion-cientifica-hpc/Act.-Grupal---Polinomios-de-Chebyshev
	url = https://github.com/pablesite/Act.-Grupal---Polinomios-de-Chebyshev.git
